html {
  height: 100%;
  font-size: 16px;
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
main.background {
  background-color: #E1F5FE;
}
li {
  list-style: none;
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
textarea {
  resize: none;
}
.ofi {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.center {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1025px) {
  .center {
    padding: 0 20px;
  }
}
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1025px) {
  .d-flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.f-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.s-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.a-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.up-button {
  position: fixed;
  display: none;
  width: 30px;
  height: 30px;
  line-height: 28px;
  top: 80%;
  right: 2%;
  text-align: center;
  background: gray;
  color: #fff;
  z-index: 100;
}
@media (max-width: 767px) {
  .up-button {
    right: 8%;
  }
}
.up-button:hover {
  opacity: .5;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}
.snap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.2rem;
  width: 110px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 35px;
  line-height: 35px;
  outline: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cfcfcf;
  color: #5b5f65;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}
.snap span {
  font-size: 14px;
}
.snap svg {
  margin-right: 10px;
  width: 20px;
  height: 25px;
  -webkit-transition: .3s;
  transition: .3s;
}
.snap:hover {
  background-color: #f2f2f2;
}
.snap-action {
  display: block;
  padding: 10px 25px;
  max-width: 350px;
  width: 100%;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  text-align: center;
  border: none;
  text-transform: capitalize;
  color: #fff;
  background-color: #1ED60B    ;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}
.snap-action:hover {
  color: #fff;
  background-color: #1cc70a;
}
.vh-100 {
  height: -webkit-calc(100vh - 90px);
  height: calc(100vh - 90px);
}
@media (max-width: 767.98px) {
  .vh-100 {
    height: auto !important;
  }
}
.title {
  margin-bottom: 30px;
  font-size: 2.5rem;
  text-align: center;
  color: #5b5f65;
}
.ic-close,
.ic-envelope {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/close.svg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.ic-envelope {
  background-image: url(../img/mail.svg);
}
@media (max-width: 767.98px) {
  .ic-envelope {
    width: 23px;
  }
}
.all-links {
  position: fixed;
  padding: 10px;
  top: 150px;
  left: 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  z-index: 99;
}
.all-links li a {
  font-size: 14px;
  color: #000;
}
.all-links li a:hover {
  text-decoration: underline;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
  z-index: 100;
}
.header__wrapper {
  width: 100%;
}
.header__balance {
  margin-left: auto;
  margin-right: 15.4%;
}
.header__balance .snap-action:focus {
  outline: none;
}
@media (max-width: 991.98px) {
  .header .container._desktop {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .mobile-header._mobile {
    display: none;
  }
}
.mobile-header .header__logo {
  text-align: center;
}
.mobile-header .mobile-header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -1000px;
  width: 80%;
  top: 58px;
  height: 100vh;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 100;
}
.mobile-header .mobile-header__nav.on-off {
  left: -1px;
  visibility: visible;
  opacity: 1;
}
.mobile-header .mobile-header__nav .snap {
  margin-left: 33px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.mobile-header .mobile-header__nav .snap-action {
  margin: 20px;
  width: 80%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.mobile-header .hamburger {
  position: absolute;
  left: 10px;
  top: 15px;
}
.footer {
  padding: 30px 0;
  background-color: #E1F5FE;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 0px 0 30px;
  }
}
.footer__copyrights {
  text-align: center;
  font-size: 0.8em;
  color: #9e9e9e;
}
.main-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991.98px) {
  .main-nav ul {
    display: block;
    padding: 20px;
  }
}
@media (max-width: 991.98px) {
  .main-nav ul li {
    margin-bottom: 20px;
  }
}
.main-nav ul li a {
  display: block;
  padding: 10px 15px;
  font-size: 1rem;
  color: #5ea52b;
}
.footer-nav {
  margin-bottom: 30px;
}
.footer-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .footer-nav ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.footer-nav ul li {
  margin: 0 1rem;
}
.footer-nav ul li a {
  font-size: 1rem;
  color: #5b5f65;
  -webkit-transition: .3s;
  transition: .3s;
}
.footer-nav ul li a:hover {
  color: #8bc34a;
}
.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0 250px;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 900px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .hero {
    padding: 100px 0 50px;
    min-height: unset;
  }
}
.hero__wrapper {
  margin: auto;
}
.hero__title,
.hero__text {
  position: relative;
  margin-bottom: 1.168rem;
  font-size: 2.92rem;
  line-height: 1.4;
  font-family: 'Varela Round', sans-serif;
  color: #5b5f65;
}
@media (max-width: 767.98px) {
  .hero__title,
  .hero__text {
    text-align: center;
    line-height: 1.4;
  }
}
@media (max-width: 767.98px) {
  .hero__title {
    text-align: center;
    font-size: 1.94667rem;
  }
}
.hero__title:before {
  position: absolute;
  content: '';
  left: 113px;
  top: -50px;
  width: 80px;
  height: 40px;
  background-image: url(../img/blink_orange.svg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 10;
}
@media (max-width: 767.98px) {
  .hero__title:before {
    content: none;
  }
}
.hero__text {
  margin-bottom: 30px;
  font-size: unset;
}
.hero__text span {
  display: block;
  font-size: 1.64rem !important;
  font-size: 120%;
  margin-bottom: 1rem;
}
@media (max-width: 767.98px) {
  .hero__text span {
    font-size: 16px !important;
  }
}
.hero-block {
  position: relative;
  overflow: hidden;
}
.hero-block:before {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  width: 850px;
  height: 450px;
  background-image: url(../img/coins.png);
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 0;
}
@media (max-width: 767.98px) {
  .hero-block:before {
    right: unset;
    left: 0;
    width: 820px;
  }
}
.hero-block._no-abs:before {
  content: none;
}
.hero-block._coins:before {
  position: absolute;
  content: '';
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background-image: url(../img/coins-2.png);
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
}
.hero-block__wrapper {
  margin: auto;
  padding: 150px 0 50px;
}
@media (max-width: 991.98px) {
  .hero-block__wrapper {
    width: 100%;
    padding: 100px 0;
  }
}
@media (max-width: 575.98px) {
  .hero-block__wrapper {
    padding: 100px 0;
  }
}
.hero-block__wrapper .review:last-of-type {
  margin-bottom: 0;
}
.hero-list {
  margin-bottom: 50px;
}
.hero-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  color: #5b5f65;
}
.hero-list li svg {
  margin-right: 1.125rem;
  width: 25px;
  height: 25px;
  fill: #5b5f65;
}
.form-block {
  position: relative;
  padding: 30px 0;
  width: 370px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
}
@media (max-width: 991.98px) {
  .form-block {
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .form-block {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .form-block {
    width: 290px;
  }
}
.form-block__wrapper {
  position: relative;
  z-index: 0;
}
.form-block__title {
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
  color: #8bc34a;
  background-color: #fff;
}
.form-block__content {
  padding: 20px 20px 0;
}
.form-block__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}
.form-block__input label {
  font-size: 0.9rem;
  color: #9e9e9e;
}
.form-block__input input {
  padding-bottom: 12px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: none;
}
.form-block__input input:focus {
  border-bottom: 1px solid #5EA52B;
}
.form-block__input ::-webkit-input-placeholder {
  font-family: 'Roboto';
  color: #c2c2c2;
  font-size: 15px;
  text-overflow: ellipsis;
  font-weight: 400;
}
.form-block__input ::-moz-placeholder {
  font-family: 'Roboto';
  color: #c2c2c2;
  font-size: 15px;
  text-overflow: ellipsis;
  font-weight: 400;
}
.form-block__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.form-block__checkbox label {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #9e9e9e;
  cursor: pointer;
}
.form-block__checkbox input[type="checkbox"] {
  padding: 0;
  margin: 0px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  line-height: 25px;
  background-color: #fff;
  border: 1px solid rgba(149, 149, 149, 0.4);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  outline: none !important;
  vertical-align: middle;
  -webkit-border-radius: 0;
          border-radius: 0;
  position: relative;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-block__checkbox input[type="checkbox"]:checked {
  border: 1px solid #8bc34a;
}
.form-block__checkbox input[type="checkbox"]:checked:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/tick.svg);
  width: 15px;
  height: 15px;
  background-size: contain;
  content: '';
  width: 11px;
  height: 11px;
  margin: auto;
  vertical-align: middle;
  display: inline-block;
}
.form-block__actions {
  margin-bottom: 30px;
}
.form-block__actions a {
  color: #8bc34a;
}
.form-block__actions a:hover {
  text-decoration: underline;
}
.form-block__submit .snap-action {
  font-size: 1.125rem;
  letter-spacing: 1px;
}
.review-list {
  margin-bottom: 20px;
}
.review-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 20px 30px;
  border-bottom: 1px solid #f1edf1;
}
@media (max-width: 767.98px) {
  .review-list li {
    padding: 20px 15px;
  }
}
.review-list li:last-child {
  border-bottom: 1px solid transparent;
}
.stars {
  position: relative;
}
.stars__wrapper {
  position: relative;
  white-space: nowrap;
}
.stars__result {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}
.review {
  padding-bottom: 30px;
  margin-bottom: 50px;
  width: 720px;
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .review {
    width: 100%;
  }
}
.review:last-of-type {
  margin-bottom: 0;
}
.review._no-padding {
  padding-bottom: 0;
}
.review._m-bottom {
  margin-bottom: 50px;
}
.review__top {
  padding: 15px 30px;
  background-color: #615A63;
}
.review__top span {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}
.review__title {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #413a43;
}
@media (max-width: 767.98px) {
  .review__title {
    font-size: 15px;
  }
}
.review__content {
  padding: 20px;
}
.review__content .snap-action {
  width: 100px;
  margin-left: auto;
}
@media (max-width: 320px) {
  .review__content .snap-action {
    margin-top: 15px;
  }
}
.review__content .snap-action._mt {
  margin-top: 1rem;
}
.review__content .snap-action:focus {
  outline: none;
}
.review__button .snap-action {
  padding: 15px 0;
  margin: 0 auto;
  width: 180px;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
}
.review__mail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.review__mail .ic-envelope {
  margin-right: 10px;
}
.review__mail .user-email {
  width: 300px;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
  outline: none;
}
@media (max-width: 767.98px) {
  .review__mail .user-email {
    width: 100%;
  }
}
.review__mail .user-email.edit {
  font-size: 14px;
  border-bottom: 1px solid #413a43;
}
.review__password {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .review__password {
    margin-bottom: 20px;
  }
}
.review__password:last-of-type {
  margin-bottom: 0;
}
.review__password-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}
@media (max-width: 767.98px) {
  .review__password-input {
    width: 100%;
    margin-bottom: 20px;
  }
}
.review__password-input label {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #5e5e5e;
}
.review__password-input input {
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #b2b2b2;
}
.review__password-input input:focus {
  outline: none;
  border-bottom: 1px solid #8bc34a;
}
.review__password-input ::-webkit-input-placeholder {
  font-family: 'Roboto';
  color: #acacac;
  font-size: 1rem;
  text-overflow: ellipsis;
  font-weight: 400;
}
.review__password-input ::-moz-placeholder {
  font-family: 'Roboto';
  color: #acacac;
  font-size: 1rem;
  text-overflow: ellipsis;
  font-weight: 400;
}
.modal-cashout .modal-content {
  position: relative;
  padding: 10px 0;
}
.modal-cashout .modal-logo {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 100px;
  height: 100px;
}
.modal-cashout .modal-title {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: #8bc34a;
}
.modal-cashout .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-cashout__balance {
  margin: 10px 0 25px;
  text-align: center;
  font-size: 2rem;
  color: #8bc34a;
}
.modal-cashout__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-cashout__input label {
  font-size: 1rem;
  color: #9b9b9b;
}
.modal-cashout__input input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #b2b2b2;
}
.modal-cashout__input ::-webkit-input-placeholder {
  font-family: 'Roboto';
  color: #acacac;
  font-size: 1rem;
  text-overflow: ellipsis;
  font-weight: 400;
}
.modal-cashout__input ::-moz-placeholder {
  font-family: 'Roboto';
  color: #acacac;
  font-size: 1rem;
  text-overflow: ellipsis;
  font-weight: 400;
}
.modal-cashout__notice {
  font-size: 14px;
  color: #9b9b9b;
}
.modal-cashout .modal-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: none;
}
.modal-cashout .snap-action {
  padding: 13px 0;
  margin-bottom: 1rem;
  max-width: 170px;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.7px;
  outline: none;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.woff2') format('woff2'), url('../fonts/Ubuntu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'), url('../fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'), url('../fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger.is-active:hover,
.hamburger:hover {
  opacity: .7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #bfbfbf;
}
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -4px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #bfbfbf;
}
.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-inner:before {
  top: -10px;
}
.hamburger-inner:after {
  bottom: -10px;
}
.hamburger--spin .hamburger-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
}
.hamburger--spin .hamburger-inner:before {
  -webkit-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner:after {
  -webkit-transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  -webkit-transition-delay: .12s;
          transition-delay: .12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}
.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.hamburger--spin-r .hamburger-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
}
.hamburger--spin-r .hamburger-inner:before {
  -webkit-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.hamburger--spin-r .hamburger-inner:after {
  -webkit-transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r.is-active .hamburger-inner {
  -webkit-transition-delay: .12s;
          transition-delay: .12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.hamburger--spin-r.is-active .hamburger-inner:before {
  top: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}
.hamburger--spin-r.is-active .hamburger-inner:after {
  bottom: 0;
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mobile-menu {
  position: absolute;
  padding: 110px 0 80px;
  top: -2000px;
  width: 100%;
  height: 110vh;
  z-index: 100;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(0, 0, 0, 0.95);
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.toggle-menu {
  top: -5px;
  position: fixed;
}
.mobile-menu ul {
  margin-bottom: 70px;
  text-align: center;
}
.mobile-menu ul li {
  margin-bottom: 10px;
}
.mobile-menu ul li.current a::before {
  background: none;
}
.mobile-menu ul li a {
  display: inline-block;
  position: relative;
  padding: 13px 35px;
  font-size: 20px;
  font-weight: 400;
  color: #c2c2c2;
}
.mobile-menu ul li a::before {
  position: absolute;
  content: '';
  margin-left: -8px;
  left: 50%;
  bottom: 0;
  width: 16px;
  height: 2px;
}
.mobile-menu ul li.current {
  display: inline-block;
  padding: 0 50px;
  border: 1px solid #3772b3;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.mobile-menu .btn-transparent {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  width: 140px;
  border-color: #fff;
  color: #fff;
  opacity: .5;
}
.mobile-menu__buttons .snap {
  display: block;
  margin: 0 auto 15px;
  width: 218px;
}
